@import './variables';


.exercise-list-container{
    display: flex;
    margin: 0px auto;
    
    .exercise-list{
        margin: 5px 0px 5px;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        list-style: none;
        width: 100%;
        background-color: $background-day;        
        transition: .2s ease-in-out;
        
        .exercise-item{
            margin: 5px;
            font-size: 0.8rem;
            padding: 5px;
            width: 200px;
            text-align: center;
            border: 1px solid transparent;
            border-radius: 5px;
            box-shadow: $neomorphism-focus;
            

        }
    }
}

#exercise-btn-container{
    margin-bottom: 40px;
}