@import './variables';


.form-container{
    display: flex;
    flex-direction: column;
    margin: 10px auto 0px;
    
    .form-design{
        -webkit-appearance: none;
        width: 80%;
        font-family: $font-sans;
        font-size: 0.7rem;
        
        input {
            width: 100%;
            margin: 12px 0px 20px;
            padding: 15px;
            border-radius: 15px;
            font-weight: 400;
            font-size: 0.8rem;
            border: 1px solid rgb(212, 212, 212);
            box-shadow:0 0 15px 7px rgba(0,0,0,0.1);
            transition: .2s ease-in-out;
            
        }
        input:focus{
            border: 1px solid gray;
            box-shadow:0 0 15px 3px rgba(0,0,0,0.06);
        }
    }

    .form-button{
        padding:10px;
        margin: 0px auto 20px;
        border:none;
        background-color:$blue;
        color:#fff;
        font-weight:500;
        border-radius:5px;
        width:100%;
        transition: .2s ease-in-out;
    }
    .form-button:hover{
        background-color: #4f65e1;
    }
    .form-button:active{
        background-color: $btn-green;
    }
}

