@import './variables';


.form-container{
    display: flex;
    flex-direction: column;
    
    
    .form-design{
        width: 80%;
        font-family: $font-sans;
        font-size: 1.15rem;
        
        input {
            width: 100%;
            margin: 12px 0px 20px;
            padding: 15px;
            border-radius: 15px;
            font-weight: 600;
            font-size: 1.0rem;
            border: 1px solid gray;
            box-shadow:0 0 15px 7px rgba(0,0,0,0.1);
            transition: .2s ease-in-out;
            
        }
        input:focus{
            border: 1px solid white;
            box-shadow:0 0 15px 3px rgba(0,0,0,0.06);
        }
    }

    .form-button{

        padding:10px;
        border:none;
        background-color:$blue;
        color:#fff;
        font-weight:600;
        border-radius:5px;
        width:100%;
        transition: .2s ease-in-out;
    }
    .form-button:hover{
        background-color: #4f65e1;
    }
    .form-button:active{
        background-color: $btn-green;
    }


    .exercise-list-container{
        display: flex;
        margin: 15px;
        
        .exercise-list{
            margin: 5px 0px 15px;
            padding: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            list-style: none;
            width: 100%;
            background-color: rgb(246, 246, 246);
            box-shadow:0 0 15px 3px rgba(0,0,0,0.06);
            transition: .2s ease-in-out;
            
            .exercise-item{
                margin: 5px;
                padding: 5px;
                width: 200px;
                text-align: center;
                border: 1px solid white;
                border-radius: 5px;
                box-shadow:0 0 15px 3px rgba(0,0,0,0.06);
                

            }
        }
    }


}

