@import './variables';


.title-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 10px auto;
    
    .title{
        width: 100%;
        min-width: 280px;
        margin: 0px auto 10px;
        text-align: center;
        font-family: $font-sans;
        font-size: 1.2rem;
    }
    
    .subtitle{
        text-align: start;
        width: 100%;
        margin: 0px auto 10px;
        font-family: $font-mono;
        font-size: 0.8rem;
    }
}
