@import './variables';


#routine-tracking{
    
    margin: 5px auto 10px;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    box-shadow:0 0 15px 3px rgba(0,0,0,0.06);

    label{
        display: flex;
        margin: 5px auto;
        align-items: center;
        justify-content: space-between;
        border: 1px solid white;
        border-radius: 5px;
        box-shadow:0 0 15px 3px rgba(0,0,0,0.06);

        .span-style{
            margin: 5px 20px;
        }

        .input-field{
            margin: 5px 20px;
            height: 25px;
            width: 70px;
            box-shadow:0 0 0px 0px rgba(0,0,0,0.0);
        }

    }

}
