@import './variables';


#routine-tracking{
    
    display: flex;
    flex-direction: column;
    margin: 5px auto 10px;
    border-radius: 5px;
    background-color: $background-day;

    label{
        display: flex;
        flex-direction: row;
        width: 80%;
        border: $test;
        margin: 15px auto;
        align-items: center;
        justify-content: space-between;
        border: 1px solid transparent;
        border-radius: 5px;
        box-shadow: $neomorphism-focus;

        .span-style{
            margin: 5px 20px;
            font-size: 1rem;
        }

        .input-field{
            margin: 5px 20px;
            height: 25px;
            width: 100px;
            box-shadow:0 0 0px 0px rgba(0,0,0,0.0);
        }

    }

}


#save-tracking-btn{
    background-color: $btn-red;
}

#save-tracking-btn:hover{
    background-color: $btn-red-hover;
}

#save-tracking-btn:active{
    background-color: $btn-red-active;
}