@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap");
.title-container {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 80%;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.title-container .title {
  text-align: center;
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2rem;
}
.title-container .subtitle {
  text-align: end;
  width: 90%;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.8rem;
}

.exercise-list-container {
  display: flex;
  margin: 15px;
}
.exercise-list-container .exercise-list {
  margin: 5px 0px 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  width: 100%;
  background-color: rgb(246, 246, 246);
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.06);
  transition: 0.2s ease-in-out;
}
.exercise-list-container .exercise-list .exercise-item {
  margin: 5px;
  padding: 5px;
  width: 200px;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.06);
}

#routine-tracking {
  margin: 5px auto 10px;
  border-radius: 5px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.06);
}
#routine-tracking label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.06);
}
#routine-tracking label .span-style {
  margin: 5px 20px;
}
#routine-tracking label .input-field {
  margin: 10px 20px;
  width: 100px;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
}

.exercise-list-container {
  display: flex;
  margin: 15px;
}
.exercise-list-container .exercise-list {
  margin: 5px 0px 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  width: 100%;
  background-color: rgb(246, 246, 246);
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.06);
  transition: 0.2s ease-in-out;
}
.exercise-list-container .exercise-list .exercise-item {
  margin: 5px;
  padding: 5px;
  width: 200px;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.06);
}

.form-container {
  display: flex;
  flex-direction: column;
}
.form-container .form-design {
  width: 80%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.15rem;
}
.form-container .form-design input {
  width: 100%;
  margin: 12px 0px 20px;
  padding: 15px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid rgb(212, 212, 212);
  box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
}
.form-container .form-design input:focus {
  border: 1px solid gray;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.06);
}
.form-container .form-button {
  padding: 10px;
  border: none;
  background-color: #3F51B5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
  transition: 0.2s ease-in-out;
}
.form-container .form-button:hover {
  background-color: #4f65e1;
}
.form-container .form-button:active {
  background-color: rgb(5, 194, 5);
}

#results-dashboard-container {
  margin: 5px auto 10px;
  border: 1px solid #3F51B5;
  border-radius: 5px;
  flex-direction: column;
}
#results-dashboard-container .title {
  margin: 10px 0px;
  text-align: center;
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2rem;
}
#results-dashboard-container .results-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}
#results-dashboard-container .results-dashboard .routine-date {
  font-size: 0.7rem;
}
#results-dashboard-container .results-dashboard .exercise-container {
  font-size: 1rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
#results-dashboard-container .results-dashboard .exercise-container .exercise-count {
  display: flex;
  padding: 10px;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 768px;
}

*:focus {
  outline: none !important;
}

.m-20 {
  margin: 20px;
}

.m-10 {
  margin: 10px;
}

.p-20 {
  padding: 20px;
}

.p-10 {
  padding: 10px;
}

.body-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.15rem;
}

.hidden {
  display: none;
}

.showing {
  display: flex;
}

/*# sourceMappingURL=index.css.map */
